.wrapper {
  background: url('../public/background-grid.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
}

.center, .video{
  max-width: 1500px;
  margin: auto;
  display: flex;
  padding: 3rem;
  justify-content: center;
  align-items: center;
}

.center {
  gap: 140px;
  padding: 100px 0;
}

.tab {
  max-width: 1500px;
  margin: auto;
  display: block;
}

.h2 {
  font-size: 40pt; 
  font-family: "lexend";
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  padding: 0 0 0 1rem;
  color: #404142;
}

.navigation a:hover {
  color:#FE7F2D
}

.description h1 {
  font-size: 2rem;
  font-weight: 400
}

.headerWrapper {
  background-color: white;
  padding: 0 3rem;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  box-sizing: border-box;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-size: 0.85rem;
  width: 100%;
  max-width: 1500px;
  height: 90px;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-size: 14pt;
}

.description nav {
  display: flex;
  gap: 4rem;
  margin-right: 4rem;
}

.navwrapper {
  display: flex;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
} 

.button {
  background-color: #FE7F2D;
  color: white; 
  border-radius: 6px;
  border: none;
  padding: .8rem 2.2rem;
  font-size: 20px;
  font-weight: 600;
}

.proposalButton {
  margin: 1rem 0  1rem 1rem;
}

.button:hover {
  background-color: #ff924a;
  cursor: pointer;
}

.introduction h3 {
  font-size: 64px;
  font-weight: 600;
}

.introduction p {
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  margin-top: 60px;
  width:  100%;
  max-width: 1500px;
}



.center h2, .features h2, .team h2, .cta h2{
  font-size: 96px;
  font-weight: 700;
  margin: 2rem 0 1rem 0
}

.highlight1 {
  background-image: url('../public/highlight1.png');
  background-size: cover;
  min-height:80px;
  padding: 1rem;
}

.underline {
  background-image: url('../public/underline.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: bottom;
  max-height:1px;
  padding: 0 2rem;
}

.highlight2 {
  background-image: url('../public/highlight2.png');
  background-size: cover;
  min-height:300px;
  padding: 1rem;
}

.highlight3 {
  background-image: url('../public/highlight3.png');
  background-size: cover;
  min-height:300px;
  padding: 1rem 2rem;
}

.highlight4 {
  background-image: url('../public/highlight4.png');
  background-size: cover;
  min-height:300px;
  padding: 1.9rem 1.4rem;
}

.highlight5 {
  background-image: url('../public/highlight5.png');
  background-size: cover;
  min-height:300px;
  padding: 1.9rem 1.4rem;
}

.highlight6 {
  background-image: url('../public/highlight6.png');
  background-size: cover;
  min-height:300px;
  padding: 1.9rem .7rem;
}

.highlight7 {
  background-image: url('../public/highlight7.png');
  background-size: cover;
  min-height:300px;
  padding: 1.9rem .7rem;
}

.highlight8 {
  background-image: url('../public/highlight8.png');
  background-size: cover;
  min-height:300px;
  padding: 3rem 1rem;
}


.profile {
  width: 100%;
  border-radius: 10pt 10pt 0 0;
}

.featureButtons {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  gap: 10px;
  width: 100%;
  max-width: 1500px;
  margin: 1rem auto 0;
}

.featureButtons button {
  flex: 1;
  margin: 0 .5rem;
  font-size: 24px;
  line-height: 30px;
}

.features {
  display: flex;
  padding: 3rem 3rem 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: #cbc9c9 solid 1.9px;
}

.featureTitle {
  margin: 0 0 45px;
  font-size: 64px;
  font-weight: 500;
  line-height: 80px;
}

.featureDesc {
  font-size: 24px;
  line-height: 30px;
}

/* .curriculum {
  box-sizing: border-box;
} */

.tab {
  display:flex;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  /* border: 6px solid #BBA0EC; */
  border-radius: 20px;
  /* background-color: rgba(179, 146, 229, 0.1) */
}

.tab > div,
.tab > img {
  flex: 1;
}

.curriculum {
  background-color: rgba(179, 146, 229, 0.1);
  border: 6px solid #BBA0EC;
}

.attendance {
  background-color: rgba(240, 210, 122, 0.1);
  border: 6px solid #F5D26A;
}

.skillEvaluation {
  background-color: rgba(235, 145, 143, 0.1);
  border: 6px solid #F98C8C;
}

.automatedReport {
  background-color:rgba(191, 227, 1, 0.1);
  border:6px solid #B5E593 ;
}

.studentManagement {
  background-color:rgba(168, 219, 217, 0.1);
  border:6px solid #9ADDDA ;
}

.team {
  display: flex;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features h5, .team h5 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  margin: 0 0 1rem 0;
}

.card {
  margin: 1rem 1.2rem;
  border-radius: 10pt;
  background-color: white;
  border: 1px solid rgba(131, 134, 135, 0);
  transition: background 200ms, border 200ms;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
}

.profileText {
  padding: 1rem;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card a {
  margin-right: 20px;
  color: black;
  font-size: 40px;
}

.card h4 {
  margin: 0;
  font-size: 34px;
  font-weight: 600;
  line-height: 45px;
}

.image {
  border-radius: 10pt 10pt 0 0
}

.card p {
  margin: 0;
  padding: 0 0 1rem 0;
  font-size: 30px;
  line-height: 40px;
}

.cta {
  display: flex;
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.footerText {
  display: flex;
  justify-content: center;
  grid-column: 1 / span 2
}


.contact {
  /* background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)) url('../public/footer-background.png'); */
  /* background-repeat: no-repeat;
  background-position: right bottom; */
}

.footerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 5rem 0 0;
}

.form form input {
  background-color: #f6f6f6;
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  margin: .5rem 0 0 0;
  width: 100%;
}

.submitButton {
  background-color: #FE7F2D !important; 
  box-sizing: content-box;
}

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerMsg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stores {
  padding: 0 .5rem 0 1rem;
}


.curriculumButton {
  background-color:rgba(179, 146, 229, 0.1);
  border: #BBA0EC solid 4px;
  border-radius:10px 10px 0 0;
  border-bottom: none;
  padding: 1rem 2rem;
  font-size: 32;
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.attendanceButton {
  background-color:rgba(240, 210, 122, 0.1);
  border: #F5D26A solid 4px;
  border-radius:10px 10px 0 0;
  border-bottom: none;
  padding: 1rem 2rem;
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.skillEvaluationButton {
  background-color:rgba(235, 145, 143, 0.1);
  border: #F98C8C solid 4px;
  border-radius:10px 10px 0 0;
  border-bottom: none;
  padding: 1rem 2rem;
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.automatedReportButton {
  background-color:rgba(191, 227, 1, 0.1);
  border: #B5E593 solid 4px;
  border-radius:10px 10px 0 0;
  border-bottom: none;
  padding: 1rem 2rem;
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.studentManagementButton {
  background-color:rgba(168, 219, 217, 0.1);
  border:#9ADDDA  solid 4px;
  border-radius:10px 10px 0 0;
  border-bottom: none;
  padding: 1rem 2rem;
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.curriculumButton:hover,
.curriculumButton:focus
{
  cursor: pointer;
  background-color:#BBA0EC;
  transform: scale(1.1) translate(0, -4.5%);
}

.attendanceButton:hover,
.attendanceButton:focus,
.attendanceButton.active
{
  cursor: pointer;
  background-color:#F5D26A;
  transform: scale(1.1) translate(0, -4.5%);
  /* transform: all .5s; */
  /* border-top: 10px solid #F5D26A; */
}

.skillEvaluationButton:hover,
.skillEvaluationButton:focus,
.skillEvaluationButtonactive {
  cursor: pointer;
  background-color:#F98C8C;
  transform: scale(1.1) translate(0, -4.5%);
}

.automatedReportButton:hover,
.automatedReportButton:focus,
.automatedReportButton.active {
  cursor: pointer;
  background-color:#B5E593;
  transform: scale(1.1) translate(0, -4.5%);
}

.studentManagementButton:hover,
.studentManagementButton:focus,
.studentManagementButton.active {
  cursor: pointer;
  background-color: #9ADDDA;
  transform: scale(1.1) translate(0, -4.5%);
}


.team {
  background-image: url('../public/background-grid2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: #cbc9c9 solid 1.9px;
}

.cta {
  background-image: url('../public/prototype-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: #cbc9c9 solid 1.9px;
}

.figma {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 450px;
  margin-top: 3rem;
}


@media (max-width: 700px) {
  .logo h1, .navwrapper, .ctaButton  {
    display: none;
  }
 
  .description, .center, .tab {
    flex-direction: column;
  }

  .description nav {
    gap: 0;
    margin-right: 0;
  }

  .tab {
    width: 100%;
    padding: 1rem;
    box-sizing:border-box;
  }

  .video {
    width:100%;
    box-sizing: border-box;
  }

  .center, .features {
    padding: 1rem;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(25%, auto));
    width:  1100px;
    max-width: 100%;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .curriculumButton {
    border-radius: 10px;
    border: #BBA0EC solid 4px;
  }

  .attendanceButton {
    border-radius: 10px;
    border: #F5D26A solid 4px;
  }

  .skillEvaluationButton {
    border-radius: 10px;
    border: #F98C8C solid 4px;
  }

  .automatedReportButton {
    border-radius: 10px;
    border: #B5E593 solid 4px;
  }

  .studentManagementButton {
    border-radius: 10px;
    border: #9ADDDA solid 4px;
  }

  .featureButtons {
    margin-bottom: 1rem;
  }

}
